snippet br
	\\break
snippet glis
	\\glissando
snippet harmon
	\\harmonicsOn
snippet harmoff
	\\harmonicsOff
snippet mut
	\\xNote $1
snippet gr
	\\grace $1
snippet ac
	\\accent
snippet ferm
	\\fermata
snippet par
	\\parenthesize $1
snippet end
	\\bar "|."
snippet tr
	\\trill
snippet st
	\\staccato
snippet tupl
	\\tuplet ${1:3}/${2:2} \{ $3 \}
snippet trip
	\\tuplet 3/2 \{ $1 \}
