snippet forlist "For loop"
{% for $1 in $2 %}
{{ $1 }}
{% endfor %}
endsnippet

snippet fordict "For loop over dictionary"
{% for $1, $2 in $3|dictsort %}
	{{ $1 }} {{ $2 }}
{% endfor %}
endsnippet

snippet var "Quote variable"
{{ ${VISUAL} }}
endsnippet

snippet comment "Comment block"
{# ${VISUAL} #}
endsnippet
