snippet eq "equity" b
${1:`date +%Y/%m/%d`}	${2:NAME}
	aktywa:${3:TYPE}	${4:0.0}
	udziały:${5:$2}
$0
endsnippet

snippet h "h" b
${1:`date +%Y/%m/%d`}	${2:NAME}
endsnippet

snippet e "entry" b
${1:NAME}	${2:0.0}
endsnippet
