snippet backlog "backlog vimwiki template" b
# `date +%F`

## w trakcie


## do zrobienia


## rozpoczęte


## zrobione


## na jutro


## przerwania



endsnippet

snippet code "fenced code block" b
\`\`\`$1
\`\`\`
endsnippet

snippet irq "interrupt" b
* ${1:DESC} (${2:WHO})
endsnippet
