[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "colors/vim-colors-solarized"]
	path = colors/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
